html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff5f3;
    scrollbar-width: none;
}

p {
    color: #2f1c17;
}

body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior-y: none;
}

.timeline {
    display: flex;
    align-items: center;
    gap: 100px;
    position: relative;
    height: 100%;
    width: max-content;
    padding-right: 200px;
    padding-left: 200px;
}

.line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #2f1c17 50%, rgb(255, 245, 243) 50%);
    z-index: 0;
    background-size: 24px 1px;
    pointer-events: none;
}

.second-line {
    position: absolute;
    top: 50.5%;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #54332b 50%, rgb(255, 245, 243) 50%);
    z-index: 0;
    background-size: 24px 1px;
    pointer-events: none;
}

.timeline-item {
    position: relative;
    flex: 0 0 300px;
    height: 200px;
    cursor: pointer;
    transition: flex-basis 0.4s ease, height 0.4s ease;
    overflow: visible;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid #2f1c17;
    box-shadow: -6px 6px 0 0 #2f1c17;
}

.timeline .time {
    position: absolute;
    text-align: center;
    bottom: -55px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gosznak', sans-serif;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}
.timeline-item.expanded .time {
    visibility: hidden;
    opacity: 0;
}

.timeline .title {
    position: absolute;
    text-align: center;
    top: -30px;
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gosznak', sans-serif;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}
.timeline-item.expanded .title {
    visibility: hidden;
    opacity: 0;
}

.timeline-item .thumb {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
    object-fit: cover;
}

.timeline-item .thumb.text {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gosznak, sans-serif;
    font-size: 40px;
}

.first-retro-bg {
    background-image: url("img/bg-retro-1.png");
    background-size: cover;
}

.second-retro-bg {
    background-image: url("img/bg-retro-2.png");
    background-size: cover;
}

.timeline-item .info {
    position: absolute;
    top: 0; left: 0;
    width: 500px;
    height: 300px;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    background: white;
    opacity: 0;
    transform: scale(0.5);
    transform-origin: top left;
    transition: opacity 0.4s ease, transform 0.4s ease;
    overflow: auto;
    pointer-events: none;
    z-index: 1;
}

.timeline-item.expanded {
    flex-basis: 500px;
    height: 300px;
}
.timeline-item.expanded .info {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    background-color: #fff5f3;
}

.timeline-item.expanded .info::-webkit-scrollbar {
    width: 12px;
}

.timeline-item.expanded .info::-webkit-scrollbar-track {
    background: #ffe3dd;
    border-radius: 4px;
}

.timeline-item.expanded .info::-webkit-scrollbar-thumb {
    background: #54332b;
    border: 3px solid transparent;
    background-clip: content-box;
    border-radius: 100px;
}

.timeline-item.expanded .info::-webkit-scrollbar-thumb:hover {
    background: #73544f;
    border: 3px solid transparent;
    background-clip: content-box;
    border-radius: 100px;
}

.some-little-event {
    background-color: white;
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-align: center;
}

.timeline-sign {
    text-align: center;
    letter-spacing: 1px;
    font-size: 60px;
    font-family: "Gosznak", sans-serif;
    margin-bottom: 0;
    margin-top: 50px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.info h3 {
    font-family: Gosznak, sans-serif;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: 40px;
    top: 85%;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.button {
    box-shadow: -6px 6px 0 0 #2f1c17;
    border-radius: 8px;
    border: 3px solid #2f1c17;
    background-color: #fff5f3;
    font-size: 30px;
    font-weight: bold;
    color: #2f1c17;
    width: 100px;
    height: 50px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.button:hover {
    background-color: #2f1c17;
    color: #fff5f3;
}
.button:active {
    transform: translate(-6px, 6px);
    box-shadow: 0 0 0 0 #2f1c17;
}

@font-face {
    font-family: 'Gosznak';
    src: url('fonts/Gosznak-Semi Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 768px) {
    .timeline {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }

    .timeline .info {
        width: 300px;
        height: 500px;
    }

    .timeline-item {
        scroll-snap-align: start;
    }

    .timeline-item.expanded {
        flex-basis: 300px;
        height: 500px;
    }

    .buttons-container {
        display: none;
    }

    .timeline .info {
        font-size: 20px;
    }
}

@media (min-resolution: 1.7dppx),
        (-webkit-min-device-pixel-ratio: 1.7) {
    .buttons-container,
    .timeline-sign {
        display: none;
    }
}
